<aside class="pull-right col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
           Rubrics
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_home') }}">Liste des rubriques</a></p>
            <p><a href="">Ajouter une rubrique</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Produits
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_products') }}">Liste des produits</a></p>
            {# <p><a href="{{ path('admin_plat_add') }}">Ajouter un produit</a></p> #}
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_user_index') }}">Liste des utilisateurs</a></p>
        </div>
    </article>
</aside>