{% for label, messages in app.flashes %}
    {% for message in messages %}		
    <div class="text-center py-2">
        <div class="p-2 bg-gray-800 text-gray-100 rounded-lg flex items-center justify-center" role="alert">
          
        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
            <span class="font-semibold text-sm">    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
                {{ message|raw }}
            </div></span>
        </div>
    </div>
</div>
    {% endfor %}
{% endfor %}