<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-left py-3">
                <p class="m-0 float-left">
                    &copy; {{ 'now'|date('Y') }} - Green Village |
                    <a href="#">Revenir en haut ▲</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h3 class="h3">À propos</h3>
                <ul>
                    <li><a href="#">Historique</a></li>
                    <li><a href="#">Service clients</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="h3">Partenaires</h3>
                <ul>
                    <li><a href="#">MIO</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="h3">Service clients</h3>
                <ul>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">03 22 453 352</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="h3">Socials</h3>
                <ul class="list-inline">
					<li class="list-inline-item"></li><a href="https://www.facebook.com" target="_blank" class="social-btn facebook" aria-label="Facebook">
						<i class="fab fa-facebook-f"></i>
					</a></li>
					<li class="list-inline-item"></li><a href="https://www.twitter.com" target="_blank" class="social-btn twitter" aria-label="Twitter">
						<i class="fab fa-twitter"></i>
					</a></li>
					<li class="list-inline-item"></li><a href="https://www.instagram.com" target="_blank" class="social-btn instagram" aria-label="Instagram">
						<i class="fab fa-instagram"></i>
					</a></li>
					<li class="list-inline-item"></li><a href="https://www.linkedin.com" target="_blank" class="social-btn linkedin" aria-label="LinkedIn">
						<i class="fab fa-linkedin-in"></i>
					</a></li>
                    {# <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li> #}
                </ul>
            </div>
        </div>
    </div>
</footer>


{# 
  <footer>
	
  <div class="container position-fixed bottom-0">
					<div class="row">
						<div id="footer-copyright" class="col-md-6">
							<p>&copy;
								{{ 'now'|date('Y') }}
								- The District</p>
							<p>{{ 'mit_license'|trans }}</p>
						</div>
						<div id="footer-resources" class="col-md-6">
							<p>
								<a rel="noopener noreferrer" target="_blank" href="https://twitter.com/symfony" title="Symfony on X (formerly Twitter)">
									<i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
								</a>
								<a target="_blank" href="https://symfony.com/blog/" title="Symfony Blog">
									<i class="fa-solid fa-rss" aria-hidden="true"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
</footer> 
#}