{% extends 'base.html.twig' %}

{% block title %}Hello RubricsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<main>
    <div class="page">
        <div class="page__content" style="max-width: 600px;">
            <div class="um-card um-card--use-padding um-card--rounded profile-form-wrapper">
                <div class="section-tabs"><a class="um-tab um-tab--active" href="/app/profile">Profile</a><a
                        class="um-tab" href="/app/security">Security</a></div>
                <form class="profile-form"><a
                        class="um-button um-button--icon-only um-button--round um-button--icon-solo um-button--primary-outlined um-button--medium profile-form__link"
                        type="secondary" id="edit-profile-button" data-testid="profile-form-edit-link"
                        href="/app/profile/edit"><svg aria-hidden="true" fill="currentColor" height="24"
                            focusable="false" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"
                            class="um-button__icon">
                            <rect x="3" y="19" width="18" height="2"></rect>
                            <polygon points="21 5.8 18.2 3 7 14.2 7 17 9.8 17 21 5.8"></polygon>
                        </svg><span class="um-button__content">Edit Profile</span></a>
                    <div class="profile-form__image">
                        <div class="profile-image">
                            <div class="circle-icon icon icon--circle primary disabled"
                                style="width: 18rem; height: 18rem;">
                                <div class="icon icon--profile"><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M12,14.6c-3.6,0-6.5-2.9-6.5-6.5c0-3.6,2.9-6.5,6.5-6.5c3.6,0,6.5,2.9,6.5,6.5C18.5,11.7,15.6,14.6,12,14.6zM12,3.7c-2.5,0-4.5,2-4.5,4.5s2,4.5,4.5,4.5s4.5-2,4.5-4.5S14.5,3.7,12,3.7z">
                                        </path>
                                        <path
                                            d="M21.1,22.3c-0.3,0-0.5-0.1-0.7-0.3c0,0-3.4-3.3-8.4-3.3c-5,0-8.4,3.3-8.4,3.3c-0.4,0.4-1,0.4-1.4,0c-0.4-0.4-0.4-1,0-1.4c0.2-0.2,4-3.9,9.8-3.9c5.8,0,9.6,3.8,9.8,3.9c0.4,0.4,0.4,1,0,1.4C21.6,22.2,21.3,22.3,21.1,22.3z">
                                        </path>
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                    <div class="um-form-fields">
                        <div class="um-form-field" data-testid="profile-form-username-input"><label
                                class="um-form-field__label" for="username">Username <div
                                    class="tooltip-trigger tooltip-trigger--north"><svg aria-hidden="true"
                                        fill="currentColor" height="24" focusable="false" viewBox="0 0 24 24" width="24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z">
                                        </path>
                                        <rect x="11" y="10" width="2" height="7"></rect>
                                        <rect x="11" y="6" width="2" height="2"></rect>
                                    </svg>
                                    <div class="tooltip">
                                        <div class="text">
                                            <p>Username cannot be changed after account creation</p>
                                        </div>
                                    </div>
                                </div></label><input class="um-input um-input--large" disabled="" readonly=""
                                value="fab5052"></div>
                        <div class="um-form-field" data-testid="profile-form-email-input"><label
                                class="um-form-field__label" for="email">Email </label><input
                                class="um-input um-input--large" type="email" disabled="" name="email"
                                value="fabricebeaujois@gmail.com"></div>
                        <div class="um-form-field" data-testid="profile-form-first-name-input"><label
                                class="um-form-field__label" for="first-name">First name</label><input
                                class="um-input um-input--large" disabled="" name="first_name" value="fabrice"></div>
                        <div class="um-form-field" data-testid="profile-form-last-name-input"><label
                                class="um-form-field__label" for="last-name">Last name</label><input
                                class="um-input um-input--large" disabled="" name="last_name" value="dupont"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    (function(apiKey){
        (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=o._q||[];
        v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
            o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
            y=e.createElement(n);y.async=!0;y.src='https://cdn.eu.pendo.io/agent/static/'+apiKey+'/pendo.js';
            z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');
    })('db37c1e2-3aff-49a2-6369-d3a01cfe7ca3');
</script>
<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon="{&quot;rayId&quot;:&quot;8f51e6e79cb1d598&quot;,&quot;serverTiming&quot;:{&quot;name&quot;:{&quot;cfExtPri&quot;:true,&quot;cfL4&quot;:true,&quot;cfSpeedBrain&quot;:true,&quot;cfCacheStatus&quot;:true}},&quot;version&quot;:&quot;2024.10.5&quot;,&quot;token&quot;:&quot;1fdd8f8fd7844921b6eadfccc86d5533&quot;}" crossorigin="anonymous"></script>
{% endblock %}